{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Additional styles specific to this template #}
    <style>
        body {
            background-color: #ecf0f1; 
        }

        section.articles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        article {
            width: 48%; /* Adjust as needed */
            margin-top: 20px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
        }

        h2 {
            color: #3498db;
        }

        .metadata {
            color: #95a5a6;
            margin-bottom: 10px;
        }

        img {
            width: 100%; /* Make all images fill their container */
            height: auto;
            margin-bottom: 10px;
            border-radius: 4px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .content {
            color: #34495e;
        }

        .read-more {
            display: block;
            margin-top: 10px;
        }
    </style>
{% endblock %}


{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    {% for article in articles %}
        <article>
            <h2>{{article.title}}</h2>
            <div class="metadata">Ecrit le {{article.createdAt | date('d/m/y')}} à {{article.createdAt | date('H:i')}} dans la categorie {{ article.category.title}}</div>
            <div class="content">
                <img src="{{article.image}}" alt="Image Description">
                {{article.content | raw}}
                <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary read-more">Lire la suite</a>
            </div>
        </article>
    {% endfor %}
</section>
{% endblock %}
